.main{
  height: 700px;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-areas: 
    ". . . createbox createbox createbox createbox . . .";
}

.createbox{
  grid-area: createbox;
  margin: 50px 0 50px 0;
  padding: 100px 50px 0 50px;
  border-radius: 20px;
  box-shadow: 1px 1px 7px rgb(190, 190, 190);
}
.createbox p{
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
}
.createName{
  width: 100%;
}