.main{
  height: 700px;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-areas: 
    ". . . settingsBox settingsBox settingsBox settingsBox . . .";
}

.settingsBox{
  grid-area: settingsBox;
  margin: 50px 0 50px 0;
  padding: 40px 50px 0 50px;
  border-radius: 20px;
  box-shadow: 1px 1px 7px rgb(190, 190, 190);
}
.settingsBox p{
  font-size: x-large;
  font-weight: bold;
}