.intro{
  background-color : blue;
  background-image: url('/img/indexintro.jpg');
  background-size: cover;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas: 
  ". . . . ."". . . . ."
  ". h2 . . ."". h2 . . ."
  ". . . . ."
  ". p . . ."". p . . ."". p . . ."
  ". . . . ."
  ". button . . .";
}
.intro h2{
  grid-area: h2;
  color: whitesmoke;
  font-size: 40px;
}
.intro p{
  grid-area: p;
  width: 60%;
  font-family: "JSDongkang-Regular";
  color: whitesmoke;

}
.intro button{
  grid-area: button;
  background-color: rgba(0,0,0,0);
  border: 1px white solid;
  color: white;
  font-size: larger;
  width: 50%;
}

.best{
  height: 800px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas: 
    ". . . . ."
    ". h2 h2 h2 ."
    " . p p p ."
    " . bests bests bests ."" . bests bests bests ."" . bests bests bests ."" . bests bests bests ."
    " . bests bests bests ."" . bests bests bests ."" . bests bests bests .";
}
.best h2{
  color: rgb(36, 36, 129);
  font-size: 40px;
  grid-area: h2;
}
.best p{
  grid-area: p;
}
.bests{
  grid-area: bests;
}
