.intro{
  background-color : blue;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas: 
  ". . . . ."". . . . ."
  ". h2 . . ."". h2 . . ."
  ". . . . ."
  ". p . . ."". p . . ."". p . . ."
  ". . . . ."
  ". button . . .";
}
.intro h2{
  grid-area: h2;
}
.intro p{
  grid-area: p;
}
.intro button{
  grid-area: button;
}

.best{
  height: 450px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas: 
    ". . . . ."
    ". h2 h2 h2 ."
    " . p p p ."
    " . bests bests bests ."" . bests bests bests ."" . bests bests bests ."" . bests bests bests ."
    " . bests bests bests ."" . bests bests bests ."" . bests bests bests .";
}
.best h2{
  grid-area: h2;
}
.best p{
  grid-area: p;
}
.bests{
  grid-area: bests;
}