@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "JSDongkang-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html,body,h1,h2,p{
  margin: 0;
}
ul{
  margin: 0;
  list-style: none;
  padding-left: 0;
}
.hide{
  display: none;
}

.header{
  height: 80px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas:
    ". . title title search draw create user . .";
}
.maintitle{
  grid-area: title;
  background: linear-gradient(to right, #1ce6e6, #0400f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-family: "GmarketSansBold";
  padding-top: 10px;
  cursor: pointer;
}
.searchMenu, .drawMenu, .createMenu, .userMenu{
  text-decoration: none;
  color: black;
  text-align: right;
  padding-top: 20px;
  font-size: x-large;
  cursor: pointer;
}
.searchMenu{
  grid-area: search;
}
.drawMenu{
  grid-area: draw;
}
.createMenu{
  grid-area: create;
}
.userMenu{
  grid-area: user;
}
.userMenu img{
  border-radius: 50%;
  height: 40px;
}
.userAppend{
  background-color: white;
  padding: 10px 20px 10px 20px;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  font-size: large;
}
.toProfile{
  border-bottom: 1px gray dotted;
  padding: 5px 0 5px 0;
}
.toInvite{
  border-bottom: 1px gray dotted;
  padding: 5px 0 5px 0;
}
.toLogout{
  padding: 5px 0 5px 0;
}

.footer{
  height: 300px;
  display: grid;
  background-color: rgb(66, 66, 66);
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: 
    ". . . . ."
    ". team . copyright ."
    ". ul . . ."
    ". ul . . ."
    ". ul . h2 ."
    ". . . . .";
}
.team{
  grid-area: team;
  color: white;
}
.footer ul{
  grid-area: ul;
  color: white;
}
.copyright{
  grid-area: copyright;
  color: white;
  text-align: right;
}
.footertitle{
  grid-area: h2;
  color: white;
  text-align: right;
  font-size: xx-large;
  font-weight: bold;
}
