.main{
  min-height: 1000px;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-areas: 
    ". . profile profile drawings drawings drawings drawings . .";
}

.profile{
  margin: 50px 10px 0 10px;
  box-shadow: 1px 1px 7px rgb(190, 190, 190);
  grid-area: profile;
  height: 700px;
  border-radius: 20px;
}
.imgContainer{
  margin: 50px 25% 0 25%;
  width: 50%;
  background-color: black;
  padding-top: 50%;
  border-radius: 50%;
  box-shadow: 1px 1px 7px rgb(190, 190, 190);
  position: relative;
  background-position: center; 
}
.profile button{
  margin: 0 25% 0 25%;
  width: 50%;
  box-shadow: 1px 1px 7px rgb(190, 190, 190);
  background-color: white;
  border-radius: 10px;
}
.username{
  margin: 20px 10% 5px 10%;
  width: 80%;
  color: #4b7bec;
  font-size: x-large;
}
.usernameValue{
  margin: 0 10% 0 10%;
  padding: 5px 5% 5px 5%;
  width: 70%;
  border: gray solid 1px;
  border-radius: 10px;
}
.intro{
  margin: 20px 10% 5px 10%;
  width: 80%;
  color: #4b7bec;
  font-size: x-large;
}
.introValue{
  margin: 0 10% 0 10%;
  padding: 5px 5% 5px 5%;
  width: 70%;
  border: gray solid 1px;
  min-height: 7em;
  border-radius: 10px;
}

.drawings{
  margin: 50px 10px 0 10px;
  grid-area: drawings;
  border: black 1px solid;
}