@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: white;
}
.topMenu {
  float: right;
  margin-right: 4%;
  font-size: 30px;
  line-height: 80px;
  font-weight: 200;
}
.mainTitle {
  background: linear-gradient(to right, #81ecec, #0984e3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 3%;
  font-size: 40px;
  float: left;
  font-family: "GmarketSansBold";
  line-height: 80px;
}
.mainBoard {
  height: 1000px;
  width: 100%;
  background-color: silver;
}
.bottomMenu {
  height: 240px;
  width: 100%;
  background-color: rgb(75, 74, 74);
}
.paintBoard {
  position: relative;
  background-color: white;
  height: 600px;
  width: 600px;
  top: 230px;
  left: 300px;
  border-radius: 9px;
}
.Material {
  width: 100px;
  left: 920px;
  background-color: white;
  height: 250px;
  border-radius: 9px;
  font-size: x-large;
  text-align: center;
}
.BrushSize {
  position: relative;
  top: -370px;
}
.Color {
  position: relative;
  top: -350px;
}
.save {
  position: relative;
  height: 60px;
  width: 100px;
  top: -330px;
  left: 920px;
  border-radius: 9px;
  background-color: white;
  text-align: center;
  font-size: xx-large;
}
.chat {
  position: relative;
  height: 700px;
  width: 500px;
  background-color: white;
  border-radius: 9px;
  top: -970px;
  left: 1100px;
}
.teamName {
  font-weight: 700;
}
.member {
  position: relative;
  top: 40px;
  left: 100px;
  color: white;
}
.rights {
  position: relative;
  left: 1300px;
  top: -130px;
}
.pageName {
  font-weight: 700;
  font-size: 50px;
}
#Join {
  margin-right: 17%;
}
