@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "JSDongkang-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSDongkang-RegularA1.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: 1px 1px 7px rgb(190, 190, 190);
}
.topMenu {
  float: right;
  margin-right: 3%;
  font-size: 30px;
  line-height: 80px;
  font-weight: 200;
}
.mainTitle {
  background: linear-gradient(to right, #81ecec, #0984e3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 3%;
  font-size: 40px;
  float: left;
  font-family: "GmarketSansBold";
  line-height: 80px;
  line-height: 95px;
}
.mainPhoto {
  width: 100%;
  height: 800px;
  background-color: #0984e3;
}
.photo {
  position: relative;
  top: 70px;
}
.mainBoard {
  height: 1000px;
  width: 100%;
  background-color: rgb(243, 243, 243);
}
.bottomMenu {
  position: relative;
  height: 260px;
  width: 100%;
  background-color: rgb(75, 74, 74);
}
.paintBoard {
  position: relative;
  background-color: white;
  height: 600px;
  width: 600px;
  top: 230px;
  left: 300px;
  border-radius: 9px;
  box-shadow: 1px 1px 7px rgb(190, 190, 190);
}
.Material {
  width: 100px;
  left: 920px;
  background-color: white;
  height: 250px;
  border-radius: 9px;
  font-size: x-large;
  text-align: center;
  box-shadow: 1px 1px 7px rgb(190, 190, 190);
}
.BrushSize {
  position: relative;
  top: -370px;
}
.Color {
  position: relative;
  top: -350px;
}
.save {
  position: relative;
  height: 60px;
  width: 100px;
  top: -330px;
  left: 920px;
  border-radius: 9px;
  background-color: white;
  text-align: center;
  font-size: xx-large;
  box-shadow: 1px 1px 7px rgb(190, 190, 190);
}
.chat {
  position: relative;
  height: 700px;
  width: 500px;
  background-color: white;
  border-radius: 9px;
  top: -970px;
  left: 1100px;
  box-shadow: 1px 1px 7px rgb(190, 190, 190);
}
.teamName {
  font-weight: 700;
}
.member {
  position: relative;
  top: 50px;
  left: 100px;
  color: white;
}
.rights {
  position: relative;
  left: 1300px;
  top: -130px;
}
.pageName {
  font-weight: 700;
  font-size: 50px;
}
#Logout {
  margin-right: 17%;
}
#Join {
  margin-right: 17%;
}
.name {
  position: relative;

  left: 300px;
  color: white;
}
.LargeName {
  position: relative;
  font-family: "JSDongkang-Regular";
  font-size: 50px;
  top: -570px;
  font-weight: 600;
}
.SmallName {
  position: relative;
  font-size: 22px;
  top: -500px;
}
.Draw {
  position: relative;
  border: solid white;
  border-width: thin;
  width: 200px;

  top: -390px;
  text-align: center;
  font-size: 22px;
}
.scrapDrawing {
  height: 1200px;
  width: 100%;
}
.BestTitle {
  position: relative;
  top: 200px;
  left: 300px;
  color: #0984e3;
  font-size: 60px;
  font-weight: 600;
}
.sub {
  font-size: 22px;
  position: relative;
  top: 180px;
  left: 300px;
}
.Drawings {
  position: relative;
  top: 250px;
  left: 300px;
  margin-right: 90px;
  border-radius: 20px;
  height: 550px;
  width: 370px;
  box-shadow: 1px 1px 7px rgb(190, 190, 190);
  float: left;
}
.pictures {
  height: 70%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.person {
  position: relative;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 30%;
  width: 100%;
  background-color: rgb(192, 192, 192);
}

.pictureTitle {
  position: relative;
  top: -35px;
  right: 18px;
  width: 65%;
  height: 70%;
  /*border 선을 지워주세요*/
  border: solid;
  float: right;
  margin-right: 10px;
}
.profileIMG {
  position: relative;
  top: 20px;
  left: 25px;
}
.createPage {
  width: 100%;
  height: 800px;

  background-image: url("C:\\Users\\samsung\\Desktop\\webpaint-master\\webpaint-master\\design\\createBackground.jpg");
}
.createBackground {
  position: relative;
  top: 70px;
  width: 100%;
}
.createMenu {
  margin-right: 12%;
  position: relative;
  left: 255px;
  top: 180px;
  float: left;
  height: 500px;
  width: 400px;
}
.upload {
  position: relative;
  margin-left: 155px;
}
.uploadIMG {
  height: 70%;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-image: url("C:\\Users\\samsung\\Desktop\\webpaint-master\\webpaint-master\\design\\uploadIMG.jpg");
}
.chooseIMG {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 70%;
  width: 100%;
  background-image: url("C:\\Users\\samsung\\Desktop\\webpaint-master\\webpaint-master\\design\\chooseIMG.jpg");
}
.uploadTEXT {
  height: 30%;
  width: 100%;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 1px 1px 7px rgb(190, 190, 190);
}
.TEXT {
  height: 30%;
  width: 100%;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 1px 1px 7px rgb(190, 190, 190);
  font-size: xx-large;
  text-align: center;
  line-height: 150px;
  font-weight: 400;
  font-family: "IBMPlexSansKR-Regular";
}
.searchingIMG {
  position: relative;
  top: 73px;
  width: 100%;
  height: 800px;
  background-image: url("C:\\Users\\samsung\\Desktop\\webpaint-master\\webpaint-master\\design\\searchingBackGround.jpg");
}
.saying {
  position: relative;
  color: white;
  font-size: 50px;
  font-weight: 400;
  left: 320px;
  top: 150px;
}
.sentence {
  position: relative;
  color: white;
  font-size: 25px;
  font-weight: 100;
  left: 320px;
  top: 150px;
}
.one {
  margin-top: 60px;
}
.searchingForm {
  position: relative;
  top: 350px;
  left: 550px;
  height: 100px;
}
.searchingText {
  height: 50px;
  width: 650px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 1px 1px 7px rgb(190, 190, 190);
  font-size: 25px;
  text-align: center;
  border: none;
}
.searchingSubmit {
  position: relative;
  top: 18px;
  height: 52px;
  width: 55px;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  background-size: 100%;
  box-shadow: 1px 1px 7px rgb(190, 190, 190);
  background-image: url("C:\\Users\\samsung\\Desktop\\webpaint-master\\webpaint-master\\design\\searchpage.jpg");
}
.loginpage {
  width: 100%;
  height: 900px;
}
.loginBox {
  position: relative;
  top: 180px;
  left: 590px;
  width: 35%;
  height: 600px;
  border-radius: 20px;
  box-shadow: 1px 1px 7px rgb(190, 190, 190);
  background-color: white;
}
.login {
  position: relative;
  top: 50px;
  width: 100%;
  letter-spacing: 2px;
  font-weight: 400;
  text-align: center;
  font-size: 50px;
}
.inputLogin {
  position: relative;
  top: 100px;
  left: 127px;
  float: left;

  width: 400px;
  height: 250px;
}
.loginForm {
  width: 400px;
  box-shadow: 1px 1px 2px rgb(190, 190, 190);
  margin-bottom: 30px;
  border: none;
}
.input {
  border-radius: 30px;
  font-size: 20px;
  height: 50px;
  background-color: rgb(236, 236, 236);
}
.submit {
  border-radius: 10px;
  font-size: 25px;
  background-color: #4b7bec;
  margin-top: 15px;
  height: 55px;
  color: white;
}
.line {
  position: relative;
  top: 125px;
  width: 430px;
  border: solid 0.5px rgb(211, 211, 211);
}
.account {
  position: relative;
  top: 150px;
  left: 120px;
  float: left;
  font-size: 20px;
}
.question {
  position: relative;
  left: 30px;
}
.Sign {
  position: relative;
  top: -28px;
  left: 310px;
  color: blue;
  float: left;
}
.joinpage {
  width: 100%;
  height: 950px;
}
.joinBox {
  position: relative;
  top: 180px;
  left: 590px;
  width: 35%;
  height: 650px;
  border-radius: 20px;
  box-shadow: 1px 1px 7px rgb(190, 190, 190);
  background-color: white;
}
.profilepage {
  width: 100%;
  height: 1500px;
  background-color: rgb(241, 240, 240);
}
.personProfile {
  position: relative;
  top: 200px;
  left: 200px;
  width: 400px;
  height: 650px;
  background-color: white;
  box-shadow: 1px 1px 7px rgb(190, 190, 190);
  border-radius: 20px;
}
.yourFace {
  position: relative;
  top: 50px;
  left: 106px;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  background-size: 100%;
  background-image: url("C:\\Users\\samsung\\Desktop\\webpaint-master\\webpaint-master\\design\\profilePicture.png");
  box-shadow: 1px 1px 7px rgb(190, 190, 190);
}
.uploadButton {
  position: relative;
  top: 70px;
  left: 94px;
  height: 30px;
  width: 200px;
  border: none;
  color: gray;
  background-color: white;
  border-radius: 0px;
  box-shadow: 1px 1px 7px rgb(190, 190, 190);
}
.nicIntroForm {
  position: relative;
  top: 110px;
  left: 50px;

  height: 280px;
  width: 300px;
  color: #4b7bec;
  font-weight: 400px;
  font-size: 20px;
}
.uploading {
  margin-bottom: 10%;
  width: 290px;
}
.Text {
  height: 25px;
}
.Textarea {
  height: 150px;
}
.personsDrawing {
  position: relative;

  left: 600px;
  top: -500px;
  height: 1500px;
  width: 1200px;

  float: left;
}
.yourDrawing {
  position: relative;
  top: 0px;
  top: 50px;
  left: 200px;
  margin-right: 100px;
  margin-bottom: 100px;
  border-radius: 20px;
  height: 550px;
  width: 370px;
  box-shadow: 1px 1px 7px rgb(190, 190, 190);
  float: left;
}
.searchingResultIMG {
  position: relative;
  top: 73px;
  width: 100%;
  height: 500px;
  background-image: url("C:\\Users\\samsung\\Desktop\\webpaint-master\\webpaint-master\\design\\searchingBackGround.jpg");
}

.saying1 {
  position: relative;
  color: white;
  font-size: 50px;
  font-weight: 400;
  left: 320px;
  top: 120px;
}
.sentence1 {
  position: relative;
  color: white;
  font-size: 25px;
  font-weight: 100;
  left: 320px;
  top: 120px;
}
.searchingResultForm {
  position: relative;
  top: 340px;
  left: 550px;
  height: 100px;
}
.scrapResultDrawing {
  height: 1900px;
  width: 90%;
}
.SearchResultTitle {
  position: relative;
  top: 300px;
  left: 300px;
  color: #0984e3;
  font-size: 60px;
  font-weight: 600;
}
.sub1 {
  font-size: 22px;
  position: relative;
  top: 260px;
  left: 300px;
}
.resultDrawings {
  position: relative;
  top: 350px;
  left: 300px;
  margin-right: 90px;
  margin-bottom: 90px;
  border-radius: 20px;
  height: 550px;
  width: 370px;
  box-shadow: 1px 1px 7px rgb(190, 190, 190);
  float: left;
}
