extends layout

block content
  .main
    .createbox
      p Create a new paint
      form(action="/create/submit", method="post")
        input.createName(type="text" name='name' placeholder='paint name' required)
        input(type="radio" name='access' value='1' required)
        span  public : 모두가 그림을 검색하고 볼 수 있습니다.
        br
        input(type="radio" name='access' value='0')
        span  private : 초대한 유저들만 그림을 볼 수 있습니다.
        input.createSubmit.hide(type="submit")
      button.submitBtn create
      

  link(rel='stylesheet', href='/stylesheets/create.css')
  script(src='/scripts/create.js')


  