extends layout

block content

doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  style.
    canvas{
    background: #eee;
    }
    .color-btn{
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 50%;
    }
    .color-btn[data-color='black']{ background:black; }
    .color-btn[data-color='red']{ background:red; }
    .color-btn[data-color='green']{ background:green; }
    .color-btn[data-color='blue']{ background:blue; }
canvas.canvas(width='600' height='400')
.control
  button.color-btn(data-type='color' data-color='black')
  button.color-btn(data-type='color' data-color='red')
  button.color-btn(data-type='color' data-color='green')  
  button.color-btn(data-type='color' data-color='blue')
button.save-btn &#xC774;&#xBBF8;&#xC9C0; &#xC800;&#xC7A5;
script(src='canvas.js')