extends layout

block content
  p.canvasid.hide #{canvasid}
  .main
    .settingsBox
      p Settings
      .collaboratorBox
        span.settingsMenu Collaborator : 
        input.inviteName(type="text" placeholder='username')
        button.inviteBtn invite
        .collaboratorList
          ol


  link(rel='stylesheet', href='/stylesheets/draw-settings.css')
  script(src='/scripts/draw-settings.js')
