extends layout

block content
  .header
    h1
      a.title(href='/') WebPaint
    a.paintMenu(href='/paint') Paint
    a.createMenu(href='/paint') Create
    a.joinMenu(href='/paint') Join
    a.loginMenu(href='/paint') Login
  .intro
    h2 Draw your idea with WebPaint
    p WebPaint helps you express your ideas in a simple way. Try WebPaint right now.
    button Go to drawing &#8594;
  .best
    h2 Best Drawing
    p Meet the most popular paintings now.
    .bests
      .best1
      .best2
      .best3
  .footer
    p.team 화합 6팀
    ul
      li 17OhSumin (오수민)
      li Isabelle777 (허동호)
      li EunJung516 (조은정)
      li BaekYoonjae (백윤재)
      li wanderlst (임소휘)
    p.copyright &#169; 2020 WebPaint. All rights reserved.
    h2 WebPaint
  link(rel='stylesheet', href='/stylesheets/index.css')
