extends layout

block content
  .intro
    h2 Draw your idea with WebPaint
    p WebPaint helps you express your ideas in a simple way. Try WebPaint right now.
    button Go to drawing &#8594;
  .best
    h2 Best Drawing
    p Meet the most popular paintings now.
    .bests
      .best1
      .best2
      .best3
  link(rel='stylesheet', href='/stylesheets/index.css')
