doctype html
html
  head
    title WebPaint
    link(rel='stylesheet', href='/stylesheets/layout.css')
  body
    .header
      .maintitle Webpaint
      .searchMenu(href='/search') Search
      .drawMenu(href='/draw') Draw
      .createMenu(href='/create') Create
      .userMenu(href='/login')
        .loginStat Login
        .userAppend(class='hide')
          .toProfile My Profile
          .toInvite Invitation
          .toLogout Logout
    .loginEvent.hide this is loginevent
    script(src='/scripts/layout.js')
    block content
    .footer
      p.team 화합 6팀
      ul
        li 17OhSumin (오수민)
        li Isabelle777 (허동호)
        li EunJung516 (조은정)
        li BaekYoonjae (백윤재)
        li wanderlst (임소휘)
      p.copyright &#169; 2020 WebPaint. All rights reserved.
      p.footertitle WebPaint
    