extends layout

block content
  .main
    .signupbox
      h2 Sign up
      input(type="text", name="Username", placeholder="Enter Username")
      input(type="password", name="password", placeholder="Enter Password")
      input(type="password", name="password_c", placeholder="Comfirm Password")
      button Sign up
  link(rel='stylesheet', href='/stylesheets/signup.css')