extends layout

block content
  .main
    .controls
      .controls_range
        input(type="range" id="jsRange" min='0.1' max='10'
        value='2.5' step='0.1')
      .controls_color
        input.controlColor(type="color" value="#2c2c2c")
      .controls_spaceBTN
        button#jsDraw Draw
        button#erase Erase
        button#restore Restore
        button#jsFull Full
        br
        button#jsCircle Circle
        button#jsTriangle Triangle
        button#jsRectangle Rectangle
        br
        input#input_Text(type='text')
        button#jsText Text
        br
        button#jsSave Save
        button#jsSubmit Submit
      .controls_layer
        ol.layers
          li 
            button &uarr;
            button &darr;
            span username : layer1
    .canvases
      img(src="https://webpaint.s3.ap-northeast-2.amazonaws.com/test", alt="layers")
      canvas.canvas(id="jsCanvas")
    .chat
      .chatlog
      .chatinput
        input(type="text" placeholder='chatting here!')
        button &#8594;
    

  link(rel='stylesheet', href='/stylesheets/test-draw.css')
  script(src='/scripts/test-canvas.js')
  script(src='/scripts/chatting.js')
