extends layout

block content
  .main(style='min-height:600px;')
    h1 test-chat
    ol.chatting
      li chat here!

    input.chatinput(type="text" placeholder='chatting here')
    button.chatsubmit submit
    style .chatting li{border:1px solid black;}
    script(src='/scripts/test-chat.js')